* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  width: 1400px;
  height: 590px;

  text-align: center;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

header {
  padding-top: 107px;
  padding-bottom: 124px;
}

h1 {
  font-size: 36px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: #212121;

  border: none;
}

hr {
  width: 64px;
  height: 2px;
  margin: 30px auto;

  background-color: #ff8c38;
  border: none;
}

h4 {
  height: 14px;

  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.04px;
  line-height: 0.85;

  color: #86878B;
}

main {
  font-size: 0;
}

.box {
  display: inline-block;
  width: 350px;
  margin: 0 16px;
}

.subtitle {
  width: 181px;
  height: 21px;
  margin: 29px auto 25px auto;

  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 0.85;

  color: #333333;
}

.subtitle-center {
  width: 122px;
  height: 17px;
  margin-bottom: 29px;

  text-align: left;
}

.text {
  height: 52px;
  padding: 0;

  font-size: 14px;

  letter-spacing: -0.04px;
  line-height: 1.27;

  color: #86878B;
}

.icon {
  height: 70px;
  width: 70px;
  margin: 0 auto;

  border: 2.5px solid #ff8c38;
  border-radius: 50%;
}

.bulb-icon {
  background: url(../img/light-bulb.png) no-repeat center center;
}

.keyboard-icon {
  background: url(../img/keyboard.png) no-repeat center center;
}

.lightning-icon {
  background: url(../img/lightning.png) no-repeat center center;
}
